/.eggs
/01_converter.py
/01_lessons_tkinter.py
/02_lessons_tkinter_button.py
/03_lessons_tkinter_grid.py
/04_lessons_trkinter_entry.py
/05_lessons_tkinter_calculator.py
/06_Lessons_tkinter_checkbutton.py
/07_lessons_tkinter_radiobutton.py
/08_lessons_tkinter__combobox.py
/fon1.png